ASPNETCORE_URLS=http://127.0.0.1:5000
Provisioner__ApiKey=CHANGE_ME
Provisioner__MoodleDockerRoot=/home/projetos/moodle-docker
Provisioner__StateRoot=/home/projetos/moodle-docker/.provisioner
Provisioner__BasePublicUrl=https://www.infinyti.net.br/moodle
W3Escola__BaseUrl=https://www.w3soft3.com.br/W3IntegracaoMoodleAPI/
W3Escola__ApiKey=CHANGE_ME
